// #region form-instance
import { useForm } from "@ez-kits/form-react";

const form = useForm({
	// form options go here
});
// #endregion form-instance

// #region field-instance
import { useField } from "@ez-kits/form-react";

const field = useField({
	name: "username"
});
// #endregion field-instance

// #region field-array-instance
import { useFieldArray } from "@ez-kits/form-react";

const field = useFieldArray({
	name: "list"
});
// #endregion field-array-instance